.emoji-wrap-3 {
  --e-color-border: blue; /* EmojiPopover border color */
  --e-color-emoji-text: #666; /* text emoji font color */
  --e-color-border-emoji-hover: #e1e1e1; /* emoji hover border color */
  --e-color-bg: #fff; /* EmojiPopover background color */
  --e-bg-emoji-hover: #f8f8f8; /* emoji hover background color */
  --e-size-emoji-text: 16px; /* text emoji font size */
  --e-width-emoji-img: 60px; /* image emoji width */
  --e-height-emoji-img: 60px; /* image emoji height */
  --e-max-width: 288px; /* EmojiPopover max width */
}

* {
  margin: 0;
  padding: 0;
}

input {
  padding: 4px 8px;
}

button {
  margin-left: 4px;
  padding: 3px 6px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap + .wrap {
  margin-top: 100px;
}
